
.headerPrincipal .container{
    display: Flex;
    align-items: center;
    justify-content: flex-end;


}
.headerPrincipal-nav{
    display: flex;
    justify-content: space-between;
}
.aboutme-title{
	display: flex;
}
.myskills .container{
    display: flex;
    flex-direction: column;
}
.myskills h1{
    text-align: center;
}
.myskills-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.myskills-logo{
    display: flex;
    flex-direction: column;
}

.portfolio h1{
    text-align: center;
}
.portfolio .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure nav{
    display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    background: grey;
}
.footer-icons{
	display: flex;
    align-items: center;
	column-gap: 25px;
  }